.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}
.page-button {
  width: 30px;
  height: 30px;
  margin-right: 20px;
  background-color: orangered;
  border-radius: 5px;
}
.page-button:last-child {
  margin: 0;
}
.current-page {
  background-color: white;
  border: 1px solid orangered;
  color: orangered;
}
.page-overflow {
  transform: translate(0, 10px);
  margin-right: 20px;
}
