.item-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 350px;
  height: auto;
  margin: 0px 20px 20px 20px;
  padding: 20px;
  border: 2px solid #141414;
  border-radius: 5px;
}

.item-card__image {
  margin: 20px auto;
  width: 150px;
  height: 150px;
}

.item-card__name {
  margin-bottom: 10px;
}
.item-card__cost {
  margin-bottom: 10px;
}
.item-card__purchase {
  position: absolute;
  background-color: orangered;
  border-radius: 7px;
  width: 80px;
  height: 40px;
  right: 20px;
  bottom: 20px;
}
.cart__picked {
  background-color: white;
  color: orangered;
}
.item-card__favourite {
  position: absolute;
  background-color: orangered;
  border-radius: 7px;
  width: 40px;
  height: 40px;
  right: 110px;
  bottom: 20px;
}
.favourite__picked {
  background-color: white;
  color: orangered;
}
