.cart-product {
  padding: 20px;
  border: 2px solid orangered;
  border-radius: 10px;
  display: flex;
  margin-bottom: 20px;
  position: relative;
}
.favourite-product {
  padding: 20px;
  border: 2px solid orangered;
  border-radius: 10px;
  display: flex;
  margin-bottom: 20px;
  position: relative;
}
.product-image {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}
.product-name {
  max-width: 200px;
  max-height: 100px;
  overflow: hidden;
}
.product-cost {
  margin-left: auto;
}
.product-quantity {
  position: absolute;
  right: 20px;
  bottom: 60px;
}
.product-delete {
  position: absolute;
  right: 20px;
  bottom: 20px;
  background-color: orangered;
  border: none;
  border-radius: 10px;
  width: 80px;
  height: 30px;
}
.product__purchase {
  position: absolute;
  right: 20px;
  bottom: 60px;
  background-color: orangered;
  border: none;
  border-radius: 10px;
  width: 80px;
  height: 30px;
}
