.cart-item {
  padding: 20px;
  border: 2px solid orangered;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  position: relative;
}
.item-image {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}
.item-name {
  max-width: 280px;
  max-height: 100px;
  overflow: hidden;
}
.item-quantity {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
